/* мест.link_active {
  list-style: none;
  text-decoration: none;
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 15px 91px;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  padding-left: 1px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  text-transform: lowercase;
  padding-bottom: 6px;
  padding-left: 34px;
  list-style: none;
}

.header__links-list-item {
  position: relative;
}

.header__links-list-item::before {
  content: '○';
  position: absolute;
  left: -20px;
  top: 15%;
  color: rgb(0 0 0);
  font-size: 14px;
}

.header__links-list-item_no-bullit::before {
  content: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 137px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.35;
  padding-bottom: 9px;
  text-decoration: none;
  font-weight: 400;
}

.header__address {
  justify-self: end;
  margin-right: 35px;
  padding-top: 5px;
  max-width: 240px;
}

.address__item {
  font-size: 18px;
  line-height: 1.35;
  padding-right: 5px;
}

/* Cover */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  z-index: 0;
}

/* затемнение */

.overlay {
  position: absolute;
  background-size: cover;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

/* заголовок */

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 115px;
  z-index: 2;
}

.cover__title-line {
  display: block;
  color: rgb(255 255 255);
}

.cover__title-line_start {
  text-align: start;
}

.cover__title-line_center {
  text-align: center;
  padding-left: 30px;
}

.cover__title-line_end {
  text-align: end;
}

.cover__letter-spacing-normal {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  margin: 106px 0 0;
}

.cover__description-text {
  color: rgb(255 255 255);
  word-spacing: 20px;
  text-transform: uppercase;
}

.cover__description-text_word-spacing-fix {
  word-spacing: 18px;
}

.cover__bet-button {
  border: 1px rgb(255 255 255) solid;
  background-color: transparent;
  padding: 12px 32px;
  margin-left: auto;
  word-spacing: 1px;
  color: rgb(255 255 255);
  text-transform: uppercase;
}

/* Начало секции лотов */

.lots {
  padding: 180px 0 0 0;
}

.lots__heading {
  padding: 0 0 27px 64px;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  margin-left: 24px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: flex-start;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex: 0 0 auto;
}

.lots__card-list-item .card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 51px 40px 47px;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.card__text {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.lots__look-more-link {
  display: block;
  margin: 31px 0 0 64px;
  font-size: 20px;
  border-bottom: 1px solid black;
  width: fit-content;
}


/* Начало секции информации */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  padding: 153px 24px 180px;
}

.about__column {
  justify-self: stretch;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 106px 0 75px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  padding-top: 26px;
  padding-right: 5px;
  line-height: 24px;
}


/* Начало футера */

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 73px;
}

.footer__menu,
.footer__menu-list {
  text-align: center;
  list-style: none;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: lowercase;
}

.footer__menu-link {
  border-bottom: 1px solid black;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-content: end;
}

.footer__social-list-item {
  width: 48px;
}

.footer__address {
  justify-self: start;
  align-items: start;
  line-height: 24.3px;
  max-width: 242px;
}о для вашего кода */
